@inherits LayoutComponentBase

<div class="sticky-top">
    <AuthorizeView>
        <NavMenu />
    </AuthorizeView>
</div>

<div class="page">
    
    
    <main class="container">
        @Body
    </main>

    <div id="blazor-error-ui">
        Виникла необроблена помилка.
        <a href="" class="reload">Оновити сторінку</a>
        <a class="dismiss">🗙</a>
    </div>
</div>