@page "/Account/AccessDenied"

<PageTitle>Відмовлено у доступі</PageTitle>

<header>
    <h1 class="text-danger">Відмовлено у доступі</h1>
    <p class="text-danger">Ви не маєте доступу до цього ресурсу.</p>
</header>
