@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Підтвердження для відновлення пароля</PageTitle>

<h1>Підтвердження для відновлення пароля</h1>
<p>
    Перевірте свою електронну пошту, щоб змінити пароль.
</p>
