@page "/Account/ResetPasswordConfirmation"
<PageTitle>Підтвердження відновлення пароля</PageTitle>

<h1>Підтвердження відновлення пароля</h1>
<p>
    Ваш пароль змінено. Будь ласка, <a href="Account/Login">натисніть тут, щоб увійти</a>.
</p>
