<table class="table my-4">
    <thead>
        <tr>
            @foreach (var day in DaysOfWeek)
            {
                <th>@ukrainian.DateTimeFormat.GetShortestDayName(day)</th>
            }
        </tr>
    </thead>
</table>

@code {
    [Parameter]
    public List<Habit> Habits { get; set; } = [];

    private CultureInfo ukrainian = CultureInfo.GetCultureInfo("uk-UA");

    private List<DayOfWeek> DaysOfWeek = Enum.GetValues<DayOfWeek>().ToList();
}
