@page "/Challenges"
@inject IChallengeService ChallengeService

@if (Challenges is null)
{
    <p><em>Завантаження...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var challenge in Challenges)
            {
                <tr>
                    <td>@challenge.Title</td>
                    <td>@challenge.Description</td>
                    <td>@challenge.StartDate.ToShortDateString()</td>
                    <td>@challenge.EndDate.ToShortDateString()</td>
                    <td>
                        <a href="/Challenges/Details/@challenge.Id">Детальніше</a>
                    </td>
                    <td>
                        @if (!JoinedChallenges.GetValueOrDefault(challenge.Id, false))
                        {
                            <button @onclick="() => JoinChallenge(challenge.Id)" class="btn btn-primary">Приєднатися</button>
                        }
                        else
                        {
                            <a class="text-secondary" style="text-decoration: none" disabled>Ви вже приєднались</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Challenge> Challenges { get; set; } = [];

    private Dictionary<Guid, bool> JoinedChallenges { get; set; } = new Dictionary<Guid, bool>();

    protected async override Task OnInitializedAsync() 
    {
        Challenges = await ChallengeService.GetAllChallengesAsync();
        foreach (var challenge in Challenges)
        {
            JoinedChallenges.Add(challenge.Id, await ChallengeService.IsUserInChallenge(challenge));
        }
    }

    private async Task JoinChallenge(Guid id)
    {
        await ChallengeService.JoinChallengeAsync(id);
    }
}