@page "/counter"
@rendermode InteractiveServer

@using HabitTracker.Components.Layout

<PageTitle>Лічильник</PageTitle>

<h1>Лічильник</h1>

<p role="status">Поточна кількість: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Натисни мене</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
