@page "/Error"
@using System.Diagnostics

<PageTitle>Помилка</PageTitle>

<h1 class="text-danger">Помилка</h1>
<h2 class="text-danger">Сталася помилка при обробці Вашого запиту.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>ID запиту:</strong> <code>@RequestId</code>
    </p>
}

<h3>Режим розробки</h3>
<p>
    Перехід до середовища <strong>Development</strong> відобразить більш детальну інформацію про помилку, яка сталася.
</p>
<p>
    <strong>Середовище розробки не має бути ввімкнено для розгорнутих програм.</strong>
    Це може призвести до відображення конфіденційної інформації з винятків кінцевим користувачам.
    Для локального налагодження увімкніть середовище <strong>Development</strong>, встановивши для змінної середовища <strong>ASPNETCORE_ENVIRONMENT</strong> значення <strong>Development</strong>
    і перезапустіть програму.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
