@page "/"
@using HabitTracker.Components.Account.Shared
@using HabitTracker.Components.Shared

@rendermode InteractiveServer

<PageTitle>Головна</PageTitle>


<AuthorizeView>
    <Authorized>
        <Tracker />
    </Authorized>
    <NotAuthorized>
        <div class="full-screen-image-container">
            <img src="/background.jpg" class="full-screen-image" alt="Background Image"/>
            <div class="content-overlay">
                <h3>Почніть відслідковувати звички сьогодні</h3>
                <a class="btn btn-primary" href="/Account/Register">Зареєструватися</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
