@page "/"
@using HabitTracker.Components.Account.Shared
@using HabitTracker.Components.Shared

@rendermode InteractiveServer

<PageTitle>Головна</PageTitle>


<AuthorizeView>
    <Authorized>
        <HabitTable />
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="/Account/Register">Зареєструватися</a>
    </NotAuthorized>
</AuthorizeView>
